html
    head
        link(rel="stylesheet" href="skeleton.css")
        meta(charset="utf-8")
    body
        div.container(style="margin-top:80px")
            div.row
                form.columns.six(action='/login' method="POST")
                    h2 Login
                    div.row
                        label.columns.three Username
                        input.columns.eight.u-pull-right(name="username" type="text")
                    div.row
                        label.columns.three Password
                        input.columns.eight.u-pull-right(name="password" type="password")
                    button.button-primary.u-pull-right Log in


                form.columns.six(action='/signup' method="POST")
                    h2 Register

                    div.row
                        label.columns.three Email
                        input.columns.eight.u-pull-right(name="email" type="text")

                    div.row
                        label.columns.three Username
                        input.columns.eight.u-pull-right(name="username" type="text")

                    div.row
                        label.columns.three Password
                        input.columns.eight.u-pull-right(name="password" type="password")

                    div.row
                        button.button-primary Sign Up
