@import './skeleton/css/normalize';
@import './skeleton/css/skeleton';

.body-blocked{
	overflow: hidden;
}

#content{
	min-width:800px;
}
.b-container{
	width: 787px;
	margin: auto;
}
.b-header{
	background: #f4f4f4;
	padding: 15px;
	border-bottom: 1px solid #d3d3d3;

	.b-header__controls{
		margin-top: 12px;
	}
	.b-header__nav {
		cursor: pointer;
		width: 15px;
		height: 15px;
		display: inline-block;
		border: 1px solid #a6a6a6;
		border-radius: 2px;
		position: relative;
		-moz-user-select:-moz-none;-ms-user-select:none;-webkit-user-select:none;user-select:none;

		&:after {
			content: "";
			width: 0;
			height: 0;
			border: 4px solid transparent;
			position: absolute;
			top: 4px;
		}

		&.b-header__nav_next:after {
			border-left-color: #a5a5a5;
			left: 6px;
		}

		&.b-header__nav_prev:after {
			border-right-color: #a5a5a5;
			left: 1px;
		}
	}
	.b-header__month {
		display: inline-block;
		line-height: 18px;
		vertical-align: top;
		font-size: 14px;
		width: 110px;
		text-align: center;
		-moz-user-select:-moz-none;-ms-user-select:none;-webkit-user-select:none;user-select:none;
	}

	.b-header__today{
		cursor: pointer;
		height: 15px;
		display: inline-block;
		border: 1px solid #a6a6a6;
		border-radius: 2px;
		font-size: 12px;
		padding: 0 4px;
		margin-left: 10px;
		vertical-align:  top;
		color: #555555;
		line-height: 14px;
		-moz-user-select:-moz-none;-ms-user-select:none;-webkit-user-select:none;user-select:none;
	}
}
.b-search-wrapper{
	position: relative;
}
.b-search{
	float: right;
	width: 300px;
	margin: 0;
}
.b-search__variants{
	position: absolute;
	top:103%;
	right: 0;
	width: 298px;
	list-style: none;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;

	a{
		display: block;
		padding: 8px 10px;
		border-top:1px solid #ddd;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-decoration: none;
		&:hover{
			background: #27a1ff;
			color:#fff;
		}

		&:first-child{
			border-top:none;
		}
		.b-search__date{
			display: block;
			font-size: 11px;
		    color: #666;
			line-height: 11px;
		    font-weight: 300;
			margin-bottom: 3px;
		}
		.b-search__text{
			font-size: 14px;
			line-height: 14px;
		}
	}
}
.b-table{
	padding-bottom: 40px;
	width:787px;
	margin:auto;

	table {
		border-spacing: 0;
		border: 1px solid #e2e2e2;
		border-collapse: separate;
		margin: 20px auto 0;
	}
	td {
		height: 95px;
		width: 110px;
		font-size: 12px;
		vertical-align: top;
		padding: 0;
		border: 1px solid #e2e2e2;
		overflow: hidden;
		color: #666666;
		word-break: break-word;

		.empty-start{
			padding: 5px;
		}

		& > a {
			display: block;
			height: 85px;
			padding: 5px;
			overflow: hidden;
			text-decoration: none;
		}

		&.b-cell {
			&:hover {
				border-color: #8abfe9;
				cursor: pointer;
				background: #e5f1f9;
			}

			&.b-cell_today {

				background: #f4f4f4;
				font-weight: bold;
			}
			&.active {
				background: #e5f1f9;
				border-color: #8abfe9;
			}

			&_full {
				background: #c2e4fe;
			}
		}
		.date {
			color: #999999;
			font-weight: 300;
			font-style: italic;
			font-size: 13px;
		}
		.title {
			font-weight: bold;
		}
	}
}


.b-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	overflow: auto;
	background: rgba(100, 100, 100, 0.75);

	.b-popup__window {
		z-index: 2;
		margin: 50px auto;
		border-radius: 3px;
		overflow: hidden;
		background: #fff;
		position: relative;
		width: 300px;
		height: 370px;
		padding: 20px;

		& > div {
			margin: 10px 0;
		}

		.b-popup__close {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			line-height: 12px;
			font-size: 17px;
		}

		.b-popup__date {
			font-size: 13px;
			height: 20px;
			font-weight: 300;
		}

		input[type="text"], textarea {
			display: block;
			outline: none;
			padding: 4px;
		}
		input[type="text"] {
			width: 300px;
		}
		textarea {
			height: 200px;
			resize: none;
			width: 300px;
			margin-bottom: 0;
		}

		.b-popup__warning-wrapper {
			height: 26px;
			margin: 0;
		}

		.b-popup__warning {
			color: red;
			font-size: 11px;
		}
	}
}