@import './skeleton/css/normalize';
@import './skeleton/css/skeleton';

.body-blocked{
	overflow: hidden;
}

#content{
	width:763px;
}
.b-header{
	margin-top: 50px;
}
.b-table{
	padding-bottom: 40px;

	table {
		border-spacing: 0;
		border: 1px solid #e2e2e2;
		border-collapse: separate;
		margin: 20px auto 0;
	}
	td {
		height: 95px;
		width: 97px;
		font-size: 12px;
		vertical-align: top;
		padding: 0;
		border: 1px solid #e2e2e2;
		overflow: hidden;
		color: #666666;
		word-break: break-word;

		& > a {
			display: block;
			height: 85px;
			padding: 5px;
			overflow: hidden;
		}

		&.b-cell {
			&:hover {
				border-color: #8abfe9;
				cursor: pointer;
				background: #e5f1f9;
			}

			&.b-cell_today {

				background: #f4f4f4;
				font-weight: bold;
			}
			&.active {
				background: #e5f1f9;
				border-color: #8abfe9;
			}

			&_full {
				background: #c2e4fe;
			}
		}
		.date {
			color: #999999;
			font-weight: 300;
			font-style: italic;
			font-size: 13px;
		}
		.title {
			font-weight: bold;
		}
	}
}


.b-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	overflow: auto;
	background: rgba(100, 100, 100, 0.75);

	.b-popup__window {
		z-index: 2;
		margin: 50px auto;
		border-radius: 3px;
		overflow: hidden;
		background: #fff;
		position: relative;
		width: 250px;
		height: 350px;
		padding: 20px;

		& > div {
			margin: 10px 0;
		}

		.b-popup__close {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			line-height: 12px;
			font-size: 13px;
		}

		.b-popup__date {
			font-size: 15px;
			height: 20px;
			font-weight: 300;
		}

		input[type="text"], textarea {
			display: block;
			border: 1px solid #d2d2d2;
			border-radius: 3px;
			outline: none;
			line-height: 25px;
			box-shadow: inset 1px 2px 2px #a5a5a5;
		}
		input[type="text"] {
			height: 25px;
			width: 246px;
			padding: 0 0 0 2px;
		}
		textarea {
			height: 200px;
			resize: none;
			width: 244px;
			padding: 2px;
		}

		.b-popup__warning-wrapper {
			height: 25px;
			margin: 0;
		}

		.b-popup__warning {
			color: red;
			display: none;
			font-size: 11px;

			&.visible {
				display: block;
			}
		}
	}
}